.main{
    margin: 0px;
    background: #119DA4;
}

 .template{
     display: inline-block;
    width: 33%;
   
 }
.template> .memes{
    background-size: cover;
    margin: 10px;
    height: 500px;
    cursor: pointer;
}
.template> .memes:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
 .meme>img{
     display: flex;
     align-items: center;
     justify-content: center;
     height: 400px;
 }
 .meme :hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.btn_container{
    display: flex;
}
 .btn{
    
    display: flex;
    border: 1px solid grey;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
     margin: 10px;
 }
 .btn:hover{
     cursor: pointer;
 }
 .btn1{
     border: none;
     color:#fff;
     font-weight: 400;
    background: #28AFB0;
 }
 .btn2{
    border: none;
    color:#fff;
    font-weight: 400;
   background: #D78521;;
}
.meme-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 

 input{
   
        height: 3.2rem;
     background: #f7f7f7;
     margin: 10px;
     color: #D78521;
     text-align: center;
     outline: none;
     font-size: larger;
     border: 1px solid gray;
     border-radius:8px ;
 }

h2{
    text-align: center;
    margin-bottom: 5%;
}
